.pokedex {
    background-color: rgb(255, 73, 73);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}

/* .view-pokedex {

} */

.color-led-azul {
    animation: color-led-azul-animation 1.5s infinite;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.color-led-rojo {
    animation: color-led-rojo-animation 1.5s infinite;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.color-led-amarillo {
    animation: color-led-amarillo-animation 1.5s infinite;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.color-led-verde {
    animation: color-led-verde-animation 1.5s infinite;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

@keyframes color-led-azul-animation {
    0% { background-color: #61b8ff; }
    /* 50% { background-color: rgb(0, 140, 255); } */
    100% { background-color: rgb(0, 140, 255); }
}

@keyframes color-led-rojo-animation {
    0% { background-color: #ff6161; }
    50% { background-color: rgb(255, 0, 0); }
    100% { background-color: rgb(255, 0, 0); }
}

@keyframes color-led-amarillo-animation {
    0% { background-color: #e6ff95; }
    50% { background-color: rgb(255, 251, 0); }
    100% { background-color: rgb(255, 251, 0); }
}

@keyframes color-led-verde-animation {
    0% { background-color: #87ff85; }
    50% { background-color: rgb(0, 255, 51); }
    100% { background-color: rgb(0, 255, 51); }
}